/* *{
    margin: 0;
    padding: 0;
    background-color:azure;
} */


/* 
.containers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:burlywood;
    align-items: center;
    border-radius: 90px;
    margin:120px 40px 40px 40px;
} */